body {
  background-image: url("./images/Lemon.png");
  background-repeat: repeat-x;
  opacity: 0.75;
}
h1 {
  text-align: center;
  padding-top: 25px;
  transform: rotate(15deg);
  margin-left: 60px;
}
nav {
  padding-top: 300px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}
a {
  text-decoration: none;
  color: #885df1;
}
.mail,
.insta {
  padding-right: 10px;
}

.recipe-card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.recipe-card {
  padding-right: 20px;
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: inset;
  height: 300px;
  width: 200px;
  /*flex-basis: 33.33333;*/
}
.recipeBtn {
  justify-content: center;
  border-radius: 10px;
  background-color: rgb(245, 186, 77);
  color: white;
  height: 50px;
  width: 110px;
}
footer {
  padding-top: 30px;
  text-align: center;
}
